/* #forma {
    padding-top: 150px;
    padding-left: 30px;
    margin-top: 1px;
} */
.sociali {
}
.nodec {
    color: #ffab00;
}
#dug {
    margin-top: 10px;
}
.iconk {
    margin-top: -55px;
}
form { 
    margin: 0 auto; 
    width:450px;
    }
#button {
    background: black;
    color: white;
}
h5 {
    font-family: 'Google Sans';
}
.posaljid {
    font-family: Raleway;
}
@media screen and (max-width: 478px) {
    form { 
        width:300px;
        }
}
